<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link href="styles.css" rel="stylesheet" />
    <title>Random Sentence Generator</title>
  </head>
  <body>
    <div class="container">
      <div class="flex">
        <h1 class="title">Surreal Sentence Generator</h1>
        <div class="sentence-container">
          <h3 class="sentence">"<%= sentence %>"</h3>
        </div>
        
        <div class="btn-flex">
          <a href="/">
            <button type="button" class="btn">New Sentence</button>
          </a>
          <a href="/surreal">
            <button type="button" class="btn btn-surreal">SuRrEal Sentence</button>
          </a>
          
        </div>
        <h3>API Endpoints</h3>
          <p>These return a JSON.<br>GET http://localhost:3000/api/normal<br>GET http://localhost:3000/api/surreal</p>
          <h3>About</h3>
          <p>This website can generate a "normal" sentence where it chooses subject/verb/objects that could theoretically work together. A "surreal" sentence is a sentence where these are logically impossible (e.g. a pizza can't talk).</p>
      </div>
    </div>
    
  </body>
</html>
