<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="nav-background-bar">
      <nav>
        <h5 class="nav-item"><a href="/">Home</a></h5>
        <h5 class="nav-item"><a href="api.html">API</a></h5>
        <h5 class="nav-item"><a href="about.html">About</a></h5>
      </nav>
    </div>
    <div class="container">
      
        <form class="vert-flex" method="post" action="/">
          <button class="gen-btn">
            <h2 class="gen-btn-text">GENERATE</h2>
            <img src="ci_refresh-02.svg" />
          </button>
          <div>
            <input type="checkbox" id="surreal" name="surrealcheckbox" <%= checked %>/>
            <label class="surreal" for="surreal">SuRreAl</label>
          </div>
          <div class="text-area">
            <p class="sentence"> <%= sentence %> </p>
          </div>
        </form>
    </div>
  </body>
</html>
