<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles.css" rel="stylesheet" />
    <title>Random Sentence Generator</title>
  </head>
  <body>
    <div class="flex">
      <h1>"The <%= nounPhrase1 %> <%= verb %> a <%= nounPhrase2 %>"</h1>
      <a href="/">
        <button type="button" class="generate-btn">Generate</button>
      </a>
    </div>
  </body>
</html>
