:root, body {
	box-sizing: border-box;
    background-color: rgb(110, 148, 173);
    color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
}

.title {
    font-family: 'Viaoda Libre', cursive;
}

.sentence-container {
    display:flex;
    justify-content: center;
    height: 150px;
}

.sentence {
    text-align: center;
    margin: 4rem 1rem;
}

.btn-flex {
    display:flex;
    align-items: center;
}

.btn {
    color: white;
    border: none;
    padding: 0.7rem 1rem;
    margin: 0.5rem;
    font-size: 0.75rem;
    font-weight: 600;
    background-color:rgb(255, 128, 89);
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
}

.btn:hover {
    background-color: rgb(255, 165, 138);
}

.btn-surreal{
    color: rgb(255, 128, 89);
    background-color:white;
    border-color: rgb(255, 128, 89);
    
}
